<%- include('header') -%>

<div class="text-center center">
    <form class="/choose" method="POST">
        <img style='border-radius: 100px;' class="mb-4" src="images/vote.gif" alt="" width="88" height="88">
        <h1 style="color: wheat; font-family: 'Abril Fatface'" class="h3 mb-3 font-weight-normal logo-1">Sign in to Vote!</h1>
       
        <input type="text" name="firstName" class="form-control top" placeholder="Username" required autofocus autocomplete="off">  
        <input type="email" name="email" class="form-control bottom" placeholder="Email" required autocomplete="off"> 
        <button style='margin: 2px;' class="button button-signin" type="submit">Sign in</button>
        <p  style="color: wheat; font-family: 'Abril Fatface'; font-size: 20px;" class="mt-5 mb-3">&copy; 'Merica ~ 2020</p>
      </form>

</div>

<%- include('footer') -%>
